

.card-box {
  margin-top: 2rem;
  box-shadow: 5px 5px 30px 0px #888888;
  padding: 15px!important;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.showLoader {
  display: none!important;
}

#message {
  text-align: center!important;
}

.card-panel {
  width: 100%!important;
  margin: auto!important;
}

.errors{
  color: red;
}

.display {
  display: none;
}

.text-center {
  text-align: center!important;
}